<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>

      <section class="login">
        <div class="container">
            <h2>Ingresa con tu usario</h2>
            <div class="formLogin">
                <form action="" method="POST">
                    <div class="contenedorForm">
                        <div class="labelInput">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email">
                        </div>
                        <div class="labelInput">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" id="contrasena1" name="contrasena">
                        </div>
                    </div>
                    <div class="submitRegister">
                        <div class="submit"><button class="btn btn-success" type="submit">Ingresá</button></div>
                        <div class="register"><a href="/register" class="btn btn-primary">Creá una cuenta</a></div>
                    </div>
                </form>
            </div>
        </div>
      </section>

      <footer>
        <div class="container">
          <small class="copyright">Copyright © 1999-2020 DXT S.R.L.</small>
        </div>
      </footer>
  </div>
  <%- include('./partials/scripts') %>
</body>
</html>