<footer>
    <div class="container" id="footer">
        
        <p class="redes"> <a></a> <a></a> <a href=""><i class="fab fa-instagram"></i></a> <a href=""><i class="fab fa-facebook"></i> </a><a> </a> <a></a> </p>
                
            <p><a href="mailto:consultas@pitusserie.com.ar?Subject=Consulta"><i class="fas fa-envelope-open-text"></i>  consultas@pitusserie.com.ar </a></p>
        <div class="copyright">Copyright © 2017 - 2020 Pitusserie - Todos los derechos reservados</div>
    </div>
</footer>
