<footer>
    <div class="container" id="footer">
        <a href="#" class="arriba">
            <p>Volver arriba</p>
        </a>
        <p>mail@mail.com</p>
        <p>+549380549039</p>
        <p class="redes"> <a href=""><i class="fab fa-instagram"></i></a> <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-pinterest"></i></a> <a href=""><i class="fab fa-linkedin-in"></i></a> </p>
        <small class="copyright">Copyright © 1999-2020 DXT S.R.L.</small>
    </div>
</footer>