<div class="headerMovil" id="headerMovil">
    <div class="divCierreMenuBarMovil" id="divCierreMenuBarMovil"></div>
    <div class="container">
      <div class="recontainer">
          <div class="izquierda">
            <div class="hamburguesa">
                <button class="buttonHamburguesaMovil" id="buttonHamburguesaMovil">
                  <i class="fas fa-bars barras"></i>
                </button>
              </div>          
              <div class="menuBarMovil widthMenuBarMovil" id="menuBarMovil">
                  <button class="cruzCollapseMovil" id="buttonCruzMovil">
                    <i class="fas fa-times x"></i>
                  </button>
                  <ul>
                    <a href="/"><li><img src="/img/logo.jpeg" alt="logo"></li></a>
                    <a href="/"><li>Inicio</li></a>
                    <a href="/products"><li>Productos</li></a>
                    <% if(session == undefined) { %>
                      <a href="/users/login"><li>Ingresá</li></a>
                      <a href="/users/register"><li>Creá una cuenta</li></a>
                    <% } else { %>
                      <a href="/users/user"><li>Mi perfil</li></a>
                    <% } %>
                    <% if(session == undefined) { %>
                      <a href="/users/login"><li><i class="fas fa-shopping-cart"></i></li></a>
                    <% } else { %>
                      <a href="/users/cart"><li><i class="fas fa-shopping-cart"></i></li></a> 
                    <% } %>
                    <% if(session && session.administrador == true) { %> 
                      <a href="/products/carga"><li>Carga de productos</li></a>
                        
                      </a>
                    <% } %>
                  </ul>
              </div>          
            </div>
              <div class="divLogo">
                <a href="/" class="logo"><img src="/img/logo.jpeg" alt="logo"></a>
              </div>
              <div class="derecha">
                <div class="sesionesDiv">
                  <% if(session == undefined) { %> 
                    <a href="/users/login"><button class="sesiones"><i class="fas fa-user persona"></i>
                        Iniciar Sesion
                      <% } else { %>
                        <a href="/users/user"><button class="sesiones" id="usuarioLogueado">
                        <i class="fas fa-user-circle"></i>
                        Hola, <%= session.nombre %> 
                      <% } %> 
                    </button></a>
                </div>
                <div class="carritoDiv"> 
                  <% if(session == undefined) { %> 
                      <a href="/users/login"class="carrito"><i class="fas fa-shopping-cart"></i></a>
                  <% } else { %>
                      <a href="/users/cart"class="carrito"><i class="fas fa-shopping-cart"></i><span class="cCartHeaderMovil cCart"></span></a>
                  <% } %>
                </div>
            </div>
        </div>
    </div>
</div>