<div class="containerWhatsappLogo">
    <div class="cartelitoWhatsapp">
        <img src="https://logodownload.org/wp-content/uploads/2015/04/whatsapp-logo-1.png" alt="whatsapp_logo"> 
        <span class="cartelito">+5491159889565</span>
    </div>
</div>