* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

/*====== header ======*/

header.general {
    background-color: pink;
    height: 25vh;
}

header.general div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

header.general div.container div.hamburguesa {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-content: center;
    transition: color 0.1s ease-in-out;
}

header.general div.container div.hamburguesa button.buttonHamburguesa, header.general div.container div.hamburguesa div.collapse div.card button.buttonX {
    background-color: transparent;
    border: none;
}

header.general div.container div.hamburguesa button.buttonHamburguesa:focus, header.general div.container div.hamburguesa div.collapse div.card button.buttonX:focus {
    outline: none;
}

header.general div.container div.hamburguesa button.buttonHamburguesa i.barras {
    font-size: 30px;
    margin-top: 2px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.general div.container div.hamburguesa button.buttonHamburguesa i.barras:hover {
    font-size: 29px;
    color: rgb(79, 79, 255);
}

header.general div.container div.hamburguesa div.collapse {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 70%;
}

header.general div.container div.hamburguesa div.collapse div.card {
    height: 100vh;
    padding-top: 10px;
    z-index: 50;
}

header.general div.container div.hamburguesa div.collapse div.card button.buttonX {
    position: absolute;
    top: 10px;
    right: 10px;
}

header.general div.container div.hamburguesa div.collapse div.card ul {
    padding: 0;
}

header.general div.container div.hamburguesa div.collapse div.card ul a li {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.general div.container div.hamburguesa div.collapse div.card ul a li:hover {
    color: rgba(0, 0, 0, 0.7);
}

header.general div.container div.hamburguesa div.collapse div.card ul a li img {
    width: 100px;
    margin: 0 auto;
}

.fa-shopping-cart:before {
    display: none;
}

header.general div.container div.hamburguesa div.collapse div.card ul a li .fa-shopping-cart:before {
    display: inline-block;
    color: black;
    font-size: 30px;
}

header.general div.container div.shopSale {
    width: 100px;
    text-align: center;
    font-size: 20px;
    transition: color 0.1s ease-in-out;
}

header.general div.container div.shopSale:hover {
    font-size: 19px;
    color: white;
}

header.general div.container div.divLogo {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    order: 50;
    margin-top: 30px;
}

header.general div.container div.divLogo a.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

header.general div.container div.divLogo a.logo img {
    height: 100px;
    border-radius: 50%;
}

header.general div.container div.divLogo a.logo img:hover {
    height: 95px
}

header.general div.container a.carrito {
    width: 30px;
    height: 30px;
    text-align: center;
}

header.general div.container a.carrito i {
    font-size: 25px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.general div.container a.carrito i.fa-shopping-cart:before {
    display: inline-block;
}

header.general  div.container a.carrito i:hover {
    font-size: 24px;
    color: green;
}

header.general div.container div.redes i {
    margin-right: 8px;
    transition: color 0.1s ease-in-out;
}

header.general div.container div.redes i:last-child {
    margin-right: 0;
}


header.general div.container div.redes i:hover {
    color: rgba(255, 0, 0, 0.7);
}

@media (min-width: 768px){

    header.general {
        height: 30vh;
    }
    
    header.general div.container {
        padding-top: 25px;
    }
    
    header.general div.container div.hamburguesa button.buttonHamburguesa i.barras:hover {
        font-size: 31px;
    }

    header.general div.container div.hamburguesa div.collapse {
        width: 40%;
    }
    
    header.general div.container div.hamburguesa div.collapse div.card ul a li img {
        width: 210px;
    }

    header.general div.container div.shopSale {
        width: 120px;
        font-size: 25px;
    }
    
    header.general div.container div.shopSale:hover {
        font-size: 26px;
    }

    header.general div.container  div.divLogo {
        order: 0;
        width: auto;
    }
    
    header.general div.container  div.divLogo a.logo {
        height: 160px;
        width: 160px;
    }
    
    header.general div.container  div.divLogo a.logo img {
        height: 150px;
    }
    
    header.general div.container  div.divLogo a.logo img:hover {
        height: 155px
    }
    
    header.general div.container a.carrito {
        width: 58px;
        height: 38px;
        text-align: center;
    }
    
    header.general div.container a.carrito i {
        font-size: 30px;
    }

    header.general  div.container a.carrito i:hover {
        font-size: 31px;
    }
    
    header.general div.container div.redes i {
        margin-right: 8px;
    }
    
}

@media (min-width: 1024px) {
    header.general div.container div.hamburguesa div.collapse {
        width: 30%;
    }
}

/*====== header index ======*/

header.home {
    background-color: pink;
    height: 35vh;
}

header.home div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

header.home div.container div.hamburguesa {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-content: center;
    transition: color 0.1s ease-in-out;
}

header.home div.container div.hamburguesa button.buttonHamburguesa, header.home div.container div.hamburguesa div.collapse div.card button.buttonX {
    background-color: transparent;
    border: none;
}

header.home div.container div.hamburguesa button.buttonHamburguesa:focus, header.home div.container div.hamburguesa div.collapse div.card button.buttonX:focus {
    outline: none;
}

header.home div.container div.hamburguesa button.buttonHamburguesa i.barras {
    font-size: 30px;
    margin-top: 2px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.home div.container div.hamburguesa button.buttonHamburguesa i.barras:hover {
    font-size: 29px;
    color: rgb(79, 79, 255);
}

header.home div.container div.hamburguesa div.collapse {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 70%;
}

header.home div.container div.hamburguesa div.collapse div.card {
    height: 100vh;
    padding-top: 10px;
    z-index: 50;
}

header.home div.container div.hamburguesa div.collapse div.card button.buttonX {
    position: absolute;
    top: 10px;
    right: 10px;
}

header.home div.container div.hamburguesa div.collapse div.card ul {
    padding: 0;
}

header.home div.container div.hamburguesa div.collapse div.card ul a li {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.home div.container div.hamburguesa div.collapse div.card ul a li:hover {
    color: rgba(0, 0, 0, 0.7);
}

header.home div.container div.hamburguesa div.collapse div.card ul a li img {
    width: 100px;
    margin: 0 auto;
}

.fa-shopping-cart:before {
    display: none;
}

header.home div.container div.hamburguesa div.collapse div.card ul a li .fa-shopping-cart:before {
    display: inline-block;
    color: black;
    font-size: 30px;
}

header.home div.container div.shopSale {
    width: 100px;
    text-align: center;
    font-size: 20px;
    transition: color 0.1s ease-in-out;
}

header.home div.container div.shopSale:hover {
    font-size: 19px;
    color: white;
}

header.home div.container div.divLogo {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    order: 50;
    margin-top: 30px;
}

header.home div.container div.divLogo a.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

header.home div.container div.divLogo a.logo img {
    height: 100px;
    border-radius: 50%;
}

header.home div.container div.divLogo a.logo img:hover {
    height: 95px
}

header.home div.container a.carrito {
    width: 30px;
    height: 30px;
    text-align: center;
}

header.home div.container a.carrito i {
    font-size: 25px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.home div.container a.carrito i.fa-shopping-cart:before {
    display: inline-block;
}

header.home  div.container a.carrito i:hover {
    font-size: 24px;
    color: green;
}

header.home div.container div.redes {
    font-size: 20px;
}

header.home div.container div.redes i {
    margin-right: 8px;
    transition: color 0.1s ease-in-out;
}

header.home div.container div.redes i:last-child {
    margin-right: 0;
}


header.home div.container div.redes i:hover {
    color: rgba(255, 0, 0, 0.7);
}

@media (min-width: 768px){

    header.home {
        height: 100vh;
    }
    
    header.home div.container {
        padding-top: 25px;
    }
    
    header.home div.container div.hamburguesa button.buttonHamburguesa i.barras:hover {
        font-size: 31px;
    }

    header.home div.container div.hamburguesa div.collapse {
        width: 40%;
    }
    
    header.home div.container div.hamburguesa div.collapse div.card ul a li img {
        width: 210px;
    }

    header.home div.container div.shopSale {
        width: 120px;
        font-size: 25px;
    }
    
    header.home div.container div.shopSale:hover {
        font-size: 26px;
    }

    header.home div.container  div.divLogo {
        order: 0;
        width: auto;
    }
    
    header.home div.container  div.divLogo a.logo {
        height: 160px;
        width: 160px;
    }
    
    header.home div.container  div.divLogo a.logo img {
        height: 150px;
    }
    
    header.home div.container  div.divLogo a.logo img:hover {
        height: 155px
    }
    
    header.home div.container a.carrito {
        width: 58px;
        height: 38px;
        text-align: center;
    }
    
    header.home div.container a.carrito i {
        font-size: 30px;
    }

    header.home  div.container a.carrito i:hover {
        font-size: 31px;
    }
    
    header.home div.container div.redes i {
        margin-right: 8px;
    }
    
}

@media (min-width: 1024px) {
    header.home div.container div.hamburguesa div.collapse {
        width: 30%;
    }
}

/*====== header movil ======*/

div.headerMovil {
    width: 100%;
    height: 10vh;
    background-color: white;
    z-index: 100;
    display: none;
}

div.headerMovil.visible {
    display: block;
    position: fixed;
    top: 0;
}

div.headerMovil div.container div.hamburguesa {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-content: center;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.hamburguesa div.collapse {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 70%;
}

/*

header.home div.container div.hamburguesa button.buttonHamburguesa, header.home div.container div.hamburguesa div.collapse div.card button.buttonX {
    background-color: transparent;
    border: none;
}

header.home div.container div.hamburguesa button.buttonHamburguesa:focus, header.home div.container div.hamburguesa div.collapse div.card button.buttonX:focus {
    outline: none;
}

header.home div.container div.hamburguesa button.buttonHamburguesa i.barras {
    font-size: 30px;
    margin-top: 2px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.home div.container div.hamburguesa button.buttonHamburguesa i.barras:hover {
    font-size: 29px;
    color: rgb(79, 79, 255);
}

header.home div.container div.hamburguesa div.collapse {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 70%;
}

header.home div.container div.hamburguesa div.collapse div.card {
    height: 100vh;
    padding-top: 10px;
    z-index: 50;
}

header.home div.container div.hamburguesa div.collapse div.card button.buttonX {
    position: absolute;
    top: 10px;
    right: 10px;
}

header.home div.container div.hamburguesa div.collapse div.card ul {
    padding: 0;
}

header.home div.container div.hamburguesa div.collapse div.card ul a li {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.home div.container div.hamburguesa div.collapse div.card ul a li:hover {
    color: rgba(0, 0, 0, 0.7);
}

header.home div.container div.hamburguesa div.collapse div.card ul a li img {
    width: 100px;
    margin: 0 auto;
}

.fa-shopping-cart:before {
    display: none;
}

header.home div.container div.hamburguesa div.collapse div.card ul a li .fa-shopping-cart:before {
    display: inline-block;
    color: black;
    font-size: 30px;
}
*/


/*====== home ======*/

section.diapositivas {
    -webkit-box-sizing: border-box;
    margin: 30px 0;
}
  
section.diapositivas div.carrusel { font-family: sans-serif; }
  
section.diapositivas div.carrusel div.gallery {
    background: #EEE;
}
  
section.diapositivas div.carrusel div.gallery div.gallery-cell {
    width: 40%;
    height: 40vh;
    margin-right: 10px;
    background: #8C8;
}

section.diapositivas div.carrusel div.gallery div.gallery-cell img {
    width: 100%;
    height: 100%;
}

section.productos div.container h2 {
    margin: 10px 0;
    border: 1px solid rgb(0, 255, 0);
    background-color: rgba(0, 255, 21, 0.2);
}

section.productos div.container div.row article {
    display: flex;
    margin-bottom: 10px;
}

section.productos div.container div.row article div.producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid rgb(0, 118, 197);
    border-radius: 4px;
    background-color: rgba(0, 118, 197, 0.15);
    padding: 0 15px;
}

section.productos div.container div.row article div.producto h3 {
    width: 100%;
}

section.productos div.container div.row article div.producto div.productoImagen img {
    width: 100%;
}

section.productos div.container div.row article div.producto div.texto {
    width: 100%;
}

section.productos div.container div.row article div.producto div.texto div.precioCarrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
}

section.productos div.container div.row article div.producto div.texto div.precioCarrito span.carritoMas i {
    font-size: 30px;
    color: green;
}

/*====== formulario de registracion ======*/

section.registracion div.formRegistracionPersonal, section.registracion div.formRegistracionVendedor {
    border: 2px solid lightslategray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

section.registracion div.formRegistracionPersonal form div.contenedorForm, section.registracion div.formRegistracionVendedor form div.contenedorForm, section.registracion div.formRegistracionPersonal form div.submit, section.registracion div.formRegistracionVendedor form div.submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.registracion div.formRegistracionPersonal form div.contenedorForm div.labelInput, section.registracion div.formRegistracionVendedor form div.contenedorForm div.labelInput {
    width: 100%;
    margin-bottom: 10px;
}

section.registracion div.formRegistracionPersonal form div.contenedorForm div.labelInput input, section.registracion div.formRegistracionVendedor form div.contenedorForm div.labelInput input {
    width: 100%;
}

section.registracion div.formRegistracionPersonal form div.submit div, section.registracion div.formRegistracionVendedor form div.submit div {
    width: 50%;
}

@media (min-width: 1024px) {
    section.registracion div.formRegistracionPersonal form div.contenedorForm div.labelInput, section.registracion div.formRegistracionVendedor form div.contenedorForm div.labelInput, section.registracion div.formRegistracionPersonal form div.submit div, section.registracion div.formRegistracionVendedor form div.submit div {
        width: 45%;
    }
}

/*====== login ======*/

section.login {
    margin: 50px 0;
}

section.login div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.login h2 {
    text-align: center;
    margin-bottom: 30px;
}

section.login div.formLogin {
    /* border: 2px solid lightslategray; */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
}

section.login div.formLogin form div.contenedorForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.login div.formLogin form div.contenedorForm div.labelInput {
    width: 100%;
    margin-bottom: 10px;
}

section.login div.formLogin form div.contenedorForm div.labelInput input {
    width: 100%;
    border: none;
    border-bottom: 1px solid lightblue;
    margin-bottom: 48px;
}

section.login div.formLogin form div.contenedorForm div.labelInput input:focus {
    outline: none;
    border-bottom: 1px solid blue;
    border-radius: 8px;
}

section.login div.formLogin form div.submitRegister {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

section.login div.formLogin form div.submitRegister div.submit button {
    background-color: rgba(0, 255, 0, 0.7);
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 35px;
    padding: 5px 0;
}

section.login div.formLogin form div.submitRegister div.submit button:hover {
    background: none;
    border-bottom: 2px solid green;
    border-radius: 2px;
}

section.login div.formLogin form div.submitRegister div.submit button:focus {
    outline: none;
}

section.login div.formLogin form div.submitRegister div.register {
    background-color: rgba(0, 17, 255, 0.7);
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 35px;
    text-align: center;
    padding: 5px 0;
}

section.login div.formLogin form div.submitRegister div.register:hover {
    background: none;
    border-bottom: 2px solid blue;
    border-radius: 2px;
}

section.login div.formLogin form div.submitRegister a div.register {
    color: white;
}

section.login div.formLogin form div.submitRegister a div.register:hover {
    color: black;
}

@media (min-width: 1024px) {
    section.login div.container h2 {
        width: 100%;
        padding: 0 25%;
    }
    
    section.login div.formLogin {
        width: 50%;
    }
}

/*====== footer ======*/
 
footer {
    background-color: lightslategray;
}

footer p {
    text-align: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 1);
    transition: color 0.1s ease-in-out;
}

footer p.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
}

footer p.redes a i {
    margin-bottom: 5px;
    color: black;
}

footer div.container a.arriba div{
    text-align: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 1);
    transition: color 0.1s ease-in-out;
}

footer div.container a.arriba div:hover {
    color: rgba(0, 0, 0, 0.7);
}

/*====== whatsapp logo ======*/

div.containerWhatsappLogo {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

div.containerWhatsappLogo div.cartelitoWhatsapp {
    position: relative;
    display: inline-block;
}
  
div.containerWhatsappLogo div.cartelitoWhatsapp span.cartelito {
    visibility: hidden;
    width: 100px;
    background-color: rgb(83, 212, 83);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;
    
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 90%;
    
}
  
div.containerWhatsappLogo div.cartelitoWhatsapp:hover span.cartelito {
    visibility: visible;
}
  
div.containerWhatsappLogo img {
    width: 30px;
}

@media (min-width: 768px) {
    div.containerWhatsappLogo {
        bottom: 20px;
        right: 20px;
    }

    div.containerWhatsappLogo div.cartelitoWhatsapp span.cartelito {
        font-size: 14px;
        top: 6px
    }

    div.containerWhatsappLogo img {
        width: 45px;
    }
}

@media (min-width: 1024px) {
    div.containerWhatsappLogo {
        bottom: 30px;
        right: 30px;
    }

    div.containerWhatsappLogo div.cartelitoWhatsapp span.cartelito {
        width: 120px;
        font-size: 16px;
        top: 12px
    }

    div.containerWhatsappLogo img {
        width: 60px;
    }
}