section.login div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.login h2 {
    text-align: center;
    margin-bottom: 30px;
}

section.login div.formLogin {
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.55);
}

section.login div.formLogin form div.contenedorForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.login div.formLogin form div.contenedorForm p {
    width: 100%;
    color: red;
    font-size: 12px;
}

section.login div.formLogin form div.contenedorForm div.labelInput {
    width: 100%;
    margin-bottom: 10px;
}

section.login div.formLogin form div.contenedorForm div.labelInput input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--bordeFormulario);
    margin-bottom: 20px;
}

section.login div.formLogin form div.contenedorForm div.labelInput input:focus {
    outline: none;
    border-bottom: 1px solid var(--bordeFormularioHover);
    border-radius: 8px;
}

section.login div.formLogin form div.submitRegister {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

section.login div.formLogin form div.submitRegister div.submit button {
    background-color: var(--celesteFormularioClaro);
    border: none;
    border-radius: 8px;
    width: 125px;
    height: 35px;
    padding: 5px 0;
}

section.login div.formLogin form div.submitRegister div.submit button:hover {
    background: none;
    border-bottom: 3px solid var(--celesteFormulario);
    border-radius: 0;
}

section.login div.formLogin form div.submitRegister div.submit button:focus {
    outline: none;
}

section.login div.formLogin form div.submitRegister div.register {
    background-color: var(--rosaFormulario);
    border: none;
    border-radius: 8px;
    width: 125px;
    height: 35px;
    text-align: center;
    padding: 5px 0;
}

section.login div.formLogin form div.submitRegister div.register:hover {
    background: none;
    border-bottom: 2px solid pink;
    border-radius: 2px;
}

section.login div.formLogin form div.submitRegister a div.register {
    color: black;
}

section.login div.formLogin form div.submitRegister a div.register:hover {
    color: black;
}

@media (min-width: 1024px) {
    section.login div.container h2 {
        width: 100%;
        padding: 0 25%;
    }
    
    section.login div.formLogin {
        width: 50%;
    }
}