section.infoUsuario {
    display: flex;
    flex-wrap: wrap;
}

section.infoUsuario div.img {
    margin-bottom: 10px;
}

section.infoUsuario div.img img {
    height: 350px;
}

section.infoUsuario div.divInfoUsuario {
    width: 30%;
    justify-self: center;
}

section.infoUsuario div.campoInfoUsuario {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

section.infoUsuario div.campoInfoUsuario label {
    margin-right: 5px;
}