footer {
    background-image: url('../../img/fondoGeneral.jpg');
    font-size: 20px;
    padding: 10px 0;
    margin-top: 60px;
}

footer p {
    text-align: center;
    color: black;
    transition: color 0.1s ease-in-out;
}

footer p.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
}

footer p.redes i {
    transition: color 0.1s ease-in-out;
    margin-bottom: 5px;
    color: black;
}

footer p.redes i:hover, footer p.mail:hover i {
    color: var(--redes);
}

footer div.copyright {
    text-align: center;
    font-size: 14px;
}

footer p.mail i {
    transition: color 0.1s ease-in-out;
}

footer div.container a.arriba div{
    text-align: center;
    color: black;
}