header.general {
    background-image: url('../../img/fondoGeneral.jpg');
    height: 140px;
    margin-bottom: 70px;
}

header.general div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

header.general div.container div.hamburguesa {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-content: center;
    transition: color 0.1s ease-in-out;
}

header.general div.container div.hamburguesa button.buttonHamburguesa, header.general div.container button.cruzCollapse {
    background-color: transparent;
    border: none;
}

header.general div.container div.hamburguesa button.buttonHamburguesa:focus, header.general div.container button.cruzCollapse:focus {
    outline: none;
}

header.general div.container div.hamburguesa button.buttonHamburguesa i.barras {
    font-size: 30px;
    margin-top: 2px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.general div.container div.hamburguesa button.buttonHamburguesa i.barras:hover {
    font-size: 29px;
    color: var(--grisItemsHeader);
}

header.general div.divCierreMenuBar {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

header.general div.divCierreMenuBar.conBarAbierto {
    display: block;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
}

header.general div.container div.menuBar.widthMenuBar {
    width: 0;
}

header.general div.container div.menuBar {
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 70%;
    height: 100vh;
    padding-top: 10px;
    z-index: 100;
    background-color: white;
    overflow: hidden;
}

header.general div.container div.menuBar button.cruzCollapse {
    position: absolute;
    top: 10px;
    right: 10px;
}

header.general div.container div.menuBar ul {
    padding: 0;
}

header.general div.container div.menuBar ul a li {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.general div.container div.menuBar ul a li:hover {
    color: rgba(0, 0, 0, 0.7);
}

header.general div.container div.menuBar ul a li img {
    width: 150px;
    margin: 0 auto;
}

header.general div.container div.menuBar ul a li .fa-shopping-cart:before {
    display: inline-block;
    color: black;
    font-size: 30px;
}

header.general div.container div.productsHeader {
    width: 100px;
    text-align: center;
    font-size: 25px;
    font-family: var(--fontTitulos);
}

header.general div.container div.productsHeader:hover {
    color: var(--grisItemsHeader);
}

header.general div.container div.divLogo {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    order: 50;
    margin-top: 30px;
}

header.general div.container div.divLogo a.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

header.general div.container div.divLogo a.logo img {
    height: 100px;
    border-radius: 50%;
}

header.general div.container div.divLogo a.logo img:hover {
    height: 95px
}

header.general div.container a.carrito {
    width: 30px;
    height: 30px;
    text-align: center;
}

header.general div.container a.carrito i {
    font-size: 25px;
    color: black;
    transition: color 0.1s ease-in-out;
}

header.general div.container a.carrito i.fa-shopping-cart:before {
    display: inline-block;
}

header.general  div.container a.carrito i:hover {
    font-size: 24px;
    color: var(--grisItemsHeader);
}

header.general div.container div.redes {
    width: 90px;
    display: flex;
    justify-content: space-between;
}

header.general div.container div.redes i.fa-instagram {
    margin-left: 30px;
}

header.general div.container div.redes i {
    transition: color 0.1s ease-in-out;
}

header.general div.container div.redes i:last-child {
    margin-right: 0;
}


header.general div.container div.redes i:hover {
    color: var(--redes);
}
header.general .sesiones{
    background-color: var(--celesteFormularioClaro);
    border: none;
    border-radius: 8px;
    width: 145px;
    height: 35px;
    padding: 5px 0;
}

header.general .sesiones:hover {
    background: none;
    border-bottom: 3px solid var(--celesteFormulario);
    border-radius: 0;
}

header.general .sesiones:focus {
    outline: none;
}

header.general div.derecha{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 80%;
}
header.general div.izquierda{
    
    width: 20%;
    
}
.sesionesDiv{
    justify-content: center;
    flex-wrap: wrap;
    display:flex;
    width:80%;
    
}
.carritoDiv{
    text-align: right;
    flex-wrap: wrap;
    display:inline-block;
    width: 20%;
    
}
.persona{
    padding-right: 5px;
}
@media (min-width: 768px){

    header.general {
        height: 160px;
    }
    
    header.general div.container {
        padding-top: 25px;
    }
    
    header.general div.container div.hamburguesa button.buttonHamburguesa i.barras:hover {
        font-size: 31px;
    }

    header.general div.container div.menuBar {
        width: 40%;
    }
    
    header.general div.container div.menuBar ul a li img {
        width: 210px;
    }

    header.general div.container div.productsHeader {
        width: 120px;
        font-size: 40px;
    }

    header.general div.container  div.divLogo {
        order: 0;
        width: auto;
    }
    
    header.general div.container  div.divLogo a.logo {
        height: 160px;
        width: 160px;
    }
    
    header.general div.container  div.divLogo a.logo img {
        height: 150px;
    }
    
    header.general div.container  div.divLogo a.logo img:hover {
        height: 155px
    }
    
    header.general div.container a.carrito {
        width: 58px;
        height: 38px;
        text-align: center;
    }
    
    header.general div.container a.carrito i {
        font-size: 30px;
    }

    header.general  div.container a.carrito i:hover {
        font-size: 31px;
    }
    
    header.general div.container div.redes i {
        margin-right: 8px;
        font-size: 20px;
    }
    header.general .sesiones{
        background-color: var(--celesteFormularioClaro);
        border: none;
        border-radius: 8px;
        width: 145px;
        height: 35px;
        padding: 5px 0;
    }
    
    header.general .sesiones:hover {
        background: none;
        border-bottom: 3px solid var(--celesteFormulario);
        border-radius: 0;
    }
    
    header.general .sesiones:focus {
        outline: none;
    }
    header.general .sesiones{
        background-color: var(--celesteFormularioClaro);
        border: none;
        border-radius: 8px;
        width: 145px;
        height: 35px;
        padding: 5px 0;
    }
    
    header.general .sesiones:hover {
        background: none;
        border-bottom: 3px solid var(--celesteFormulario);
        border-radius: 0;
    }
    
    header.general .sesiones:focus {
        outline: none;
    }
        header.general div.derecha{
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
            
            width: 35%;
        }
        header.general div.izquierda{
            
            width: 35%;
            
        }
        .sesionesDiv{
            justify-content: flex-end;
            flex-wrap: wrap;
            display:flex;
            width:70%;
            
        }
        .carritoDiv{
            display: flex;
            text-align: right;
            flex-wrap: wrap;
            display:inline-block;
            width: 30%;
            
        }
}

@media (min-width: 1024px) {
    header.general div.container div.menuBar {
        width: 25%;
    }
    header.general div.derecha{
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        
        width: 40%;
    }
    header.general div.izquierda{
        
        width: 40%;
        
    }
    .carritoDiv{
        text-align: right;
        flex-wrap: wrap;
        display:inline-block;
        width: 50%;
        
    }
    .sesionesDiv{
        justify-content: flex-end;
        flex-wrap: wrap;
        display:flex;
        width:50%;
        
    }
    .sesionesDiv{
        justify-content: flex-end;
        flex-wrap: wrap;
        display:flex;
        width:70%;
        
    }
    .carritoDiv{
        display: flex;
        text-align: right;
        flex-wrap: wrap;
        display:inline-block;
        width: 30%;
        
    }
}