div.headerMovil {
    width: 100%;
    height: 85px;
    background-image: url('../../img/fondoGeneral.jpg');
    z-index: 100;
    display: none;
}

div.headerMovil.visible {
    display: inline-block;
    position: fixed;
    top: 0;
}

div.headerMovil div.container div.recontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

div.headerMovil div.container div.recontainer div.hamburguesa {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-content: center;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer div.hamburguesa button.buttonHamburguesa, div.headerMovil div.container div.recontainer div.hamburguesa div.collapse div.card button.buttonX {
    background-color: transparent;
    border: none;
}

div.headerMovil div.container div.recontainer div.hamburguesa button.buttonHamburguesa:focus, div.headerMovil div.container div.recontainer div.hamburguesa div.collapse div.card button.buttonX:focus {
    outline: none;
}

div.headerMovil div.container div.recontainer div.hamburguesa button.buttonHamburguesa i.barras {
    font-size: 30px;
    margin-top: 2px;
    color: black;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer div.hamburguesa button.buttonHamburguesa i.barras:hover {
    font-size: 29px;
    color: var(--grisItemsHeader-ml);
}

div.headerMovil div.container div.recontainer div.hamburguesa div.collapse {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 70%;
}

div.headerMovil div.container div.recontainer div.hamburguesa div.collapse div.card {
    height: 100vh;
    padding-top: 10px;
    z-index: 50;
}

div.headerMovil div.container div.recontainer div.hamburguesa div.collapse div.card button.buttonX {
    position: absolute;
    top: 10px;
    right: 10px;
}

div.headerMovil div.container div.recontainer div.hamburguesa div.collapse div.card ul {
    padding: 0;
}

div.headerMovil div.container div.recontainer div.hamburguesa div.collapse div.card ul a li {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color: black;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer div.hamburguesa div.collapse div.card ul a li:hover {
    color: rgba(0, 0, 0, 0.7);
}

div.headerMovil div.container div.recontainer div.hamburguesa div.collapse div.card ul a li img {
    width: 150px;
    margin: 0 auto;
}

.fa-shopping-cart:before {
    display: none;
}

div.headerMovil div.container div.recontainer div.hamburguesa div.collapse div.card ul a li .fa-shopping-cart:before {
    display: inline-block;
    color: black;
    font-size: 30px;
}

div.headerMovil div.container div.recontainer div.productsHeader {
    width: 100px;
    text-align: center;
    font-size: 20px;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer div.productsHeader:hover {
    color: var(--grisItemsHeader-ml);
}

div.headerMovil div.container div.recontainer div.divLogo {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    order: 50;
}

div.headerMovil div.container div.recontainer div.divLogo a.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

div.headerMovil div.container div.recontainer div.divLogo a.logo img {
    height: 70px;
    border-radius: 50%;
}

div.headerMovil div.container div.recontainer div.divLogo a.logo img:hover {
    height: 95px
}

div.headerMovil div.container div.recontainer a.carrito {
    width: 30px;
    height: 30px;
    text-align: center;
}

div.headerMovil div.container div.recontainer a.carrito i {
    font-size: 25px;
    color: black;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer a.carrito i.fa-shopping-cart:before {
    display: inline-block;
}

div.headerMovil div.container div.recontainer a.carrito i:hover {
    color: var(--grisItemsHeader-ml);
}

div.headerMovil div.container div.recontainer div.redes {
    font-size: 20px;
}

div.headerMovil div.container div.recontainer div.redes i {
    margin-right: 8px;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer div.redes i:last-child {
    margin-right: 0;
}


div.headerMovil div.container div.recontainer div.redes i:hover {
    color: var(--redes-ml);
}

div.headerMovil div.container div.redes {
    width: 90px;
    display: flex;
    justify-content: space-between;
}

div.headerMovil div.container div.redes i.fa-instagram {
    margin-left: 30px;
}


@media (min-width: 768px){

    div.headerMovil {
        height: 105px;
    }

    div.headerMovil div.container div.recontainer {
        height: 105px;
    }
    
    div.headerMovil div.container div.recontainer div.hamburguesa button.buttonHamburguesa i.barras:hover {
        font-size: 31px;
    }

    div.headerMovil div.container div.recontainer div.hamburguesa div.collapse {
        width: 40%;
    }
    
    div.headerMovil div.container div.recontainer div.hamburguesa div.collapse div.card ul a li img {
        width: 210px;
    }

    div.headerMovil div.container div.recontainer div.productsHeader {
        width: 120px;
        font-size: 25px;
    }

    div.headerMovil div.container div.recontainer  div.divLogo {
        order: 0;
        width: auto;
    }
    
    div.headerMovil div.container div.recontainer  div.divLogo a.logo {
        height: 160px;
        width: 160px;
    }
    
    div.headerMovil div.container div.recontainer  div.divLogo a.logo img {
        height: 150px;
    }
    
    div.headerMovil div.container div.recontainer  div.divLogo a.logo img:hover {
        height: 155px
    }
    
    div.headerMovil div.container div.recontainer a.carrito {
        width: 58px;
        height: 38px;
        text-align: center;
    }
    
    div.headerMovil div.container div.recontainer a.carrito i {
        font-size: 30px;
    }
    
    div.headerMovil div.container div.recontainer div.redes i {
        margin-right: 8px;
    }
    
}

@media (min-width: 1024px) {
    div.headerMovil div.container div.recontainer div.hamburguesa div.collapse {
        width: 25%;
    }
}