div.headerMovil {
    width: 100%;
    height: 85px;
    background-image: url('../../img/fondoGeneral.jpg');
    z-index: 100;
    display: none;
}

div.headerMovil.visible {
    display: inline-block;
    position: fixed;
    top: 0;
}

div.headerMovil div.container div.recontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

div.headerMovil div.container div.recontainer div.hamburguesa {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-content: center;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer div.hamburguesa button.buttonHamburguesaMovil, div.headerMovil div.container div.recontainer div.menuBarMovil button.cruzCollapseMovil {
    background-color: transparent;
    border: none;
}

div.headerMovil div.container div.recontainer div.hamburguesa button.buttonHamburguesaMovil:focus, div.headerMovil div.container div.recontainer div.menuBarMovil button.cruzCollapseMovil:focus {
    outline: none;
}

div.headerMovil div.container div.recontainer div.hamburguesa button.buttonHamburguesaMovil i.barras {
    font-size: 30px;
    margin-top: 2px;
    color: black;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer div.hamburguesa button.buttonHamburguesaMovil i.barras:hover {
    font-size: 29px;
    color: var(--grisItemsHeader);
}

div.headerMovil div.divCierreMenuBarMovil {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}

div.headerMovil div.divCierreMenuBarMovil.conBarAbiertoMovil {
    display: block;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
}

div.headerMovil div.container div.recontainer div.menuBarMovil.widthMenuBarMovil {
    width: 0;
}

div.headerMovil div.container div.recontainer div.menuBarMovil {
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70%;
    height: 100vh;
    padding-top: 10px;
    z-index: 100;
    background-color: white;
    overflow: hidden;
}

div.headerMovil div.container div.recontainer div.menuBarMovil button.cruzCollapseMovil {
    position: absolute;
    top: 10px;
    right: 10px;
}

div.headerMovil div.container div.recontainer div.menuBarMovil ul {
    padding: 0;
}

div.headerMovil div.container div.recontainer div.menuBarMovil ul a li {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color: black;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer div.menuBarMovil ul a li:hover {
    color: rgba(0, 0, 0, 0.7);
}

div.headerMovil div.container div.recontainer div.menuBarMovil ul a li img {
    width: 150px;
    margin: 0 auto;
}

.fa-shopping-cart:before {
    display: none;
}

div.headerMovil div.container div.recontainer div.menuBarMovil ul a li .fa-shopping-cart:before {
    display: inline-block;
    color: black;
    font-size: 30px;
}

div.headerMovil div.container div.recontainer div.productsHeader {
    width: 100px;
    text-align: center;
    font-size: 25px;
    font-family: var(--fontTitulos);
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer div.productsHeader:hover {
    color: var(--grisItemsHeader-ml);
}

div.headerMovil div.container div.recontainer div.divLogo {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    order: 50;
}

div.headerMovil div.container div.recontainer div.divLogo a.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

div.headerMovil div.container div.recontainer div.divLogo a.logo img {
    height: 70px;
    border-radius: 50%;
}

div.headerMovil div.container div.recontainer div.divLogo a.logo img:hover {
    height: 95px
}

div.headerMovil div.container div.recontainer a.carrito {
    width: 30px;
    height: 30px;
    text-align: center;
}

div.headerMovil div.container div.recontainer a.carrito i {
    font-size: 25px;
    color: black;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer a.carrito i.fa-shopping-cart:before {
    display: inline-block;
}

div.headerMovil div.container div.recontainer a.carrito i:hover {
    color: var(--grisItemsHeader-ml);
}

div.headerMovil div.container div.recontainer div.redes {
    font-size: 20px;
}

div.headerMovil div.container div.recontainer div.redes i {
    margin-right: 8px;
    transition: color 0.1s ease-in-out;
}

div.headerMovil div.container div.recontainer div.redes i:last-child {
    margin-right: 0;
}


div.headerMovil div.container div.recontainer div.redes i:hover {
    color: var(--redes-ml);
}

div.headerMovil div.container div.redes {
    width: 90px;
    display: flex;
    justify-content: space-between;
}

div.headerMovil div.container div.redes i.fa-instagram {
    margin-left: 30px;
}
.sesiones{
    background-color: var(--celesteFormularioClaro);
    border: none;
    border-radius: 8px;
    width: 145px;
    height: 35px;
    padding: 5px 0;
}

.sesiones:hover {
    background: none;
    border-bottom: 3px solid var(--celesteFormulario);
    border-radius: 0;
}

.sesiones:focus {
    outline: none;
}

div.derecha{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 80%;
}
div.izquierda{
    
    width: 20%;
    
}
.sesionesDiv{
    justify-content: center;
    flex-wrap: wrap;
    display:flex;
    width:80%;
    
}
.carritoDiv{
    text-align: right;
    flex-wrap: wrap;
    display:inline-block;
    width: 20%;
    
}
.persona{
    padding-right: 5px;
}

@media (min-width: 768px){

    div.headerMovil {
        height: 105px;
    }

    div.headerMovil div.container div.recontainer {
        height: 105px;
    }
    
    div.headerMovil div.container div.recontainer div.hamburguesa button.buttonHamburguesaMovil i.barras:hover {
        font-size: 31px;
    }

    div.headerMovil div.container div.recontainer div.menuBarMovil {
        width: 40%;
    }
    
    div.headerMovil div.container div.recontainer div.menuBarMovil ul a li img {
        width: 210px;
    }

    div.headerMovil div.container div.recontainer div.productsHeader {
        width: 120px;
        font-size: 40px;
    }

    div.headerMovil div.container div.recontainer  div.divLogo {
        order: 0;
        width: auto;
    }
    
    div.headerMovil div.container div.recontainer  div.divLogo a.logo {
        height: 160px;
        width: 160px;
    }
    
    div.headerMovil div.container div.recontainer  div.divLogo a.logo img {
        height: 150px;
    }
    
    div.headerMovil div.container div.recontainer  div.divLogo a.logo img:hover {
        height: 155px
    }
    
    div.headerMovil div.container div.recontainer a.carrito {
        width: 58px;
        height: 38px;
        text-align: center;
    }
    
    div.headerMovil div.container div.recontainer a.carrito i {
        font-size: 30px;
    }
    
    div.headerMovil div.container div.recontainer div.redes i {
        margin-right: 8px;
    }
    .sesiones{
        background-color: var(--celesteFormularioClaro);
        border: none;
        border-radius: 8px;
        width: 145px;
        height: 35px;
        padding: 5px 0;
    }
    
    .sesiones:hover {
        background: none;
        border-bottom: 3px solid var(--celesteFormulario);
        border-radius: 0;
    }
    
    .sesiones:focus {
        outline: none;
    }
    .sesiones{
        background-color: var(--celesteFormularioClaro);
        border: none;
        border-radius: 8px;
        width: 145px;
        height: 35px;
        padding: 5px 0;
    }
    
    .sesiones:hover {
        background: none;
        border-bottom: 3px solid var(--celesteFormulario);
        border-radius: 0;
    }
    
    .sesiones:focus {
        outline: none;
    }
        div.derecha{
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
            
            width: 35%;
        }
        div.izquierda{
            
            width: 35%;
            
        }
        .sesionesDiv{
            justify-content: flex-end;
            flex-wrap: wrap;
            display:flex;
            width:70%;
            
        }
        .carritoDiv{
            display: flex;
            text-align: right;
            flex-wrap: wrap;
            display:inline-block;
            width: 30%;
            
        }
        
}

@media (min-width: 1024px) {
    div.headerMovil div.container div.recontainer div.menuBarMovil {
        width: 25%;
    }
    div.derecha{
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        
        width: 40%;
    }
    div.izquierda{
        
        width: 40%;
        
    }
    .carritoDiv{
        text-align: right;
        flex-wrap: wrap;
        display:inline-block;
        width: 50%;
        
    }
    .sesionesDiv{
        justify-content: flex-end;
        flex-wrap: wrap;
        display:flex;
        width:50%;
        
    }
    .sesionesDiv{
        justify-content: flex-end;
        flex-wrap: wrap;
        display:flex;
        width:70%;
        
    }
    .carritoDiv{
        display: flex;
        text-align: right;
        flex-wrap: wrap;
        display:inline-block;
        width: 30%;
        
    }
}