:root {
    --celesteFormulario-ml: rgb(153, 230, 218);
    --celesteDetailHover-ml: rgb(153, 208, 230);
    --rosaFormulario-ml: rgb(253, 226, 204);
    --bordeFormulario-ml: lightblue;
    --bordeFormularioHover-ml: black;
}