:root {
    --celesteFormularioClaro: rgba(153, 230, 218, 0.7);
    --celesteFormulario: rgb(153, 230, 218);
    --celesteDetailHover: rgb(153, 208, 230);
    --rosaFormulario: rgb(253, 226, 204);
    --bordeFormulario: lightblue;
    --bordeFormularioHover: black;
    --grisItemsHeader: rgb(200, 200, 200);
    --redes: rgba(255, 0, 0, 0.7);
    --fontTitulos: sacramento;
}