<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>

      <section class="registracion">
        <div class="container">
            <h2>Cliente</h2>
            <div class="formRegistracionPersonal">
                <form action="" method="POST">
                    <div class="contenedorForm">
                        <div class="labelInput">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre">
                        </div>
                        <div class="labelInput">
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido" name="apellido">
                        </div>
                        <div class="labelInput">        
                            <label for="dni">DNI</label>
                            <input type="number" id="dni" name="dni">
                        </div>
                        <div class="labelInput">
                            <label for="telefono">Telefono</label>
                            <input type="number" id="telefono" name="telefono">
                        </div>
                        <div class="labelInput">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email">
                        </div>
                        <div class="labelInput">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" id="contrasena1" name="contrasena">
                        </div>
                    </div>
                    <div class="submit">
                        <div><button class="btn btn-success" type="submit">Crear cuenta</button></div>
                        <div></div>
                    </div>
                </form>
            </div>
            <h2>Vendedor</h2>
            <div class="formRegistracionVendedor">
                <form action="" method="POST">
                    <div class="contenedorForm">
                        <div class="labelInput">
                            <label for="cuitCuil">CUIT/CUIL</label>
                            <input type="number" id="cuit" name="cuit">
                        </div>
                        <div class="labelInput">
                            <label for="razonSocial">Razon Social</label>
                            <input type="text" id="razonSocial" name="razonSocial">
                        </div>
                        <div class="labelInput">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email">
                        </div>
                        <div class="labelInput">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" id="contrasena1" name="contrasena">
                        </div>
                    </div>
                    <div class="submit">
                        <div><button class="btn btn-success" type="submit">Crear cuenta</button></div>
                        <div></div>
                    </div>
                </form>
            </div>
        </div>
      </section>

      <footer>
        <div class="container">
          <small class="copyright">Copyright © 1999-2020 DXT S.R.L.</small>
        </div>
      </footer>
  </div>
  <%- include('./partials/scripts') %>
</body>
</html>